<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Hospital Management System</title>

    <!---  <link rel="stylesheet" href="style_hms.css"> -->
  </head>

  <body>
    <div class="main">
      <div class="navbar">
        <div class="marquee">
          <marquee> <h1 class="logo">WELCOME TO THE DASHBOARD</h1></marquee>
        </div>
      </div>

      <div class="menu">
        <ul>
          <u>
            <li>
              <a routerLinkActive="activebutton" routerLink="/home">Home</a>
            </li></u
          >

          <u>
            <li>
              <a routerLinkActive="activebutton" routerLink="/room">Add Room</a>
            </li></u
          >

          <u>
            <li>
              <a routerLinkActive="activebutton" routerLink="/doctor"
                >Add Doctor</a
              >
            </li></u
          >

          <u>
            <li>
              <a routerLinkActive="activebutton" routerLink="/patient"
                >Add Patient</a
              >
            </li></u
          >

          <u>
            <li>
              <a routerLinkActive="activebutton" routerLink="/bill">Bill</a>
            </li></u
          >

          <u>
            <li>
              <a routerLinkActive="activebutton" routerLink="/payment"
                >Payment</a
              >
            </li></u
          >

          <u>
            <li>
              <a routerLinkActive="activebutton" routerLink="/login">Log Out</a>
            </li></u
          >

          <!-- <u> <li><a href="#">REPORT</a></li></u>-->
        </ul>

        <!--<button type="submit" class="btn">Login</button>-->

        <!--<div class="search">

               <input class="srch" type="search" name="" placeholder="Type to text">

               <a href="#"><button class="btm">Search</button></a>-->
      </div>
    </div>
  </body>
</html>
