<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark"
  style="margin-left: 50px"
>
  <div class="container-fluid">
    <img
      src="../../assets/hospital logo"
      style="width: 50px; height: 50px"
      alt="logo"
    />

    <h1 class="navbar-brand">&nbsp; &nbsp; Apollo hospital</h1>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
      &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link">&nbsp; &nbsp; About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"> &nbsp; &nbsp; services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">&nbsp; &nbsp; specilities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">&nbsp; &nbsp; contact Us</a>
        </li>
      </ul> -->
      <a routerLink="/login"
        ><button type="submit" class="btn btn-success">Login</button></a
      >
    </div>
  </div>
</nav>
<br />

<img
  src="../../assets/hospital"
  style="width: 1300px; height: 550px; border-radius: 20px; margin-left: 50px"
  alt="logo"
/>

<br /><br />

<div class="container">
  <h4 style="margin-left: 400px">Explore our Centres of Clinical Excellence</h4>
  <h6 style="margin-left: 430px">
    Learn about the world class health care we provide
  </h6>
  &nbsp;

  <div class="row">
    <div class="col">
      <img
        src="../../assets/doctor"
        style="width: 600px; height: 550px; border-radius: 20px"
        alt="logo"
      />
    </div>
    <div class="col">
      <img
        src="../../assets/cardiology"
        style="width: 130px; height: 120px; border-radius: 20px; margin: 10px"
      />

      <img
        src="../../assets/neurology"
        style="width: 130px; height: 120px; border-radius: 20px; margin: 10px"
      />

      <img
        src="../../assets/ortho"
        style="width: 130px; height: 120px; border-radius: 20px; margin: 10px"
      />

      <img
        src="../../assets/gynecology"
        style="width: 130px; height: 120px; border-radius: 20px; margin: 10px"
      />
      <!-- 
      next line image -->

      <img
        src="../../assets/dermatology"
        style="width: 130px; height: 120px; border-radius: 20px; margin: 10px"
      />

      <img
        src="../../assets/eye"
        style="width: 130px; height: 120px; border-radius: 20px; margin: 10px"
      />

      <img
        src="../../assets/kids"
        style="width: 130px; height: 120px; border-radius: 20px; margin: 10px"
      />

      <img
        src="../../assets/ent"
        style="width: 130px; height: 120px; border-radius: 20px; margin: 10px"
      />

      <!-- third line -->

      <img
        src="../../assets/plastic"
        style="width: 130px; height: 120px; border-radius: 20px; margin: 10px"
      />

      <img
        src="../../assets/kidney"
        style="width: 130px; height: 120px; border-radius: 20px; margin: 10px"
      />

      <img
        src="../../assets/urology.jpg"
        style="width: 130px; height: 120px; border-radius: 20px; margin: 10px"
      />

      <img
        src="../../assets/dentist"
        style="width: 130px; height: 120px; border-radius: 20px; margin: 10px"
      />
    </div>
  </div>

  <br />

  <div class="row" style="border: 2px solid black">
    <div class="col">
      <h4>Reception Desk</h4>
      <p>+91 2838-619555</p>
    </div>
    <div class="col">
      <h4>&nbsp; &nbsp; &nbsp; Address</h4>
      <p>
        Apollo Hospitals Mundra Pvt. Ltd. Old Port Road, Near Samudra Township,
        Mundra - 370 421 District - Kachchh State - Gujarat (India)
      </p>
    </div>
    <div class="col">
      <h4>&nbsp; &nbsp; &nbsp; Emergency Helpline</h4>
      <p>+91 2838- 619666 +91 07574848413</p>
    </div>
  </div>
</div>

<br />
<h3 style="margin-left: 500px">**** Our Best Doctor ***</h3>
<br />

<img
  src="../../assets/doctors.png"
  style="width: 1300px; height: 200px; border-radius: 20px; margin-left: 100px"
  alt="logo"
/>

<br /><br /><br /><br />
